@model TDSTecnologia.Site.Web.ViewModels.ContatoViewModel

@{
    ViewData["Title"] = "Email";
}

<div>
    <h1 class="text-center">Formulário de Contato:</h1>
</div>
<hr />
<div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
        <form asp-action="Contato">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailDestinatario" class="control-label">E-mail</label>
                <input asp-for="EmailDestinatario" class="form-control" />
                <span asp-validation-for="EmailDestinatario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" type="text" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mensagem" class="control-label">Mensagem</label>
                <input asp-for="Mensagem" class="form-control" type="text"/>
                <span asp-validation-for="Mensagem" class="text-danger"></span>
            </div>

            <section class="row justify-content-center mb-5">
                <div class="form-group">
                    <input type="submit" value="Registrar" class="btn btn-primary btn-lg" />
                </div>
            </section>
        </form>
        <div>
            <a asp-action="Index">Voltar</a>
        </div>
    </div>
</div>